{%- if jekyll.environment == "production" -%}
  {%- assign modules = site.pages | where: 'nav', true | sort: 'title' -%}
{%- else -%}
  {%- assign modules = site.pages | where: 'nav-dev', true | sort: 'title' -%}
{%- endif -%}

{%- for module in modules -%}
  {%- assign url      = page.url | replace:  '/',' ' | truncatewords: 1 | remove: '...' -%}
  {%- assign location = module.url | remove: '/' -%}
  {%- assign slug     = module.title | slugify -%}
  {%- assign title    = module.title -%}

  <li class="nav-item {%- if url contains location -%}active{%- endif -%}">
    <a href="{{- module.dir | prepend: site.baseurl -}}" class="nav-link">
      {%- if module.icon -%}
        {%- capture image -%}{{- site.folders.classes | prepend: site.baseurl -}}/classicon_{{- title | slugify -}}.png{%- endcapture -%}
        <img src="{{- image -}}" class="nav-icon">
      {%- endif -%}
      {{- title -}}
    </a>
  </li>
{%- endfor -%}
