---
layout       : classes
title        : Warlock
nav          : false
nav-dev      : false
icon         : true
data         : warlock
---

<section class="classes classes-{{- page.title | slugify -}}">
  <div class="container">


    <div class="row">
      <div class="col-xs-12">

        {{ page.title }} stuff!

      </div>
    </div>

  </div>
</section>
