{%- case include.gender -%}
  {%- when "female" -%}
    {%- assign gender = "female" -%}
  {%- else -%}
    {%- assign gender = "male" -%}
{%- endcase -%}

{%- capture image -%}{{ site.folders.races | prepend: site.baseurl }}/race_{{ include.race }}_{{ gender }}.png{%- endcapture -%}

<div class="icon-container">
  <div class="icon">
    <div class="icon-image {% unless include.enabled %}icon-image-disabled{% endunless %}" style="background-image: url('{{- image -}}');"></div>
    <div class="icon-border"></div>
    <a href="#" {% unless include.enabled %}class="disabled"{% endunless %}></a>
  </div>
</div>
