---
layout       : default
title        : '404: Page not found'
nav          : false
nav-dev      : false
permalink    : /404.html
---

<section class="page page-errors">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">

        <h3 class="page-header text-center">{{- page.title -}}</h3>

        <p class="text-center"><a href="{{- site.baseurl -}}/">Return</a></p>

      </div>
    </div>

  </div>
</section>
