---
layout       : page
title        : '> Nelaesia'
nav          : true
nav-dev      : true
icon         : false # TODO: change to url instead? null can be skippable. For Nelaesia it would be: /races/race_nightelf_female.png
data         : null
---

<div class="container-fluid">

Nelaesia yo

</div>

{%- comment -%}
<section class="classes classes-{{- page.title | slugify -}}">
  <div class="container">


    <div class="row">
      <div class="col-xs-12">

        {{ page.title }} stuff!

      </div>
    </div>

  </div>
</section>
{%- endcomment -%}
